<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-center">Edit Campground</h1>
                <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate
                    class="needs-validation">
                    <div class="input-group mb-3">
                        <input type="text" value="<%=campground.title %>" id="title" name="campground[title]"
                            class="form-control" placeholder="campground title" required aria-label="campground title">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid title.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" value="<%= campground.location%>" id="location" name="campground[location]"
                            class="form-control" placeholder="campground location" required
                            aria-label="campground location">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid location.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="url" value="<%=campground.image %>" id="image" name="campground[image]"
                            class="form-control" placeholder="campground image's URL" required
                            aria-label="campground image">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid image URL.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" value="<%=campground.price %>" id="price" name="campground[price]"
                            class="form-control" placeholder="campground price" required aria-label="campground price">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <textarea type="text" name="campground[description]" id="description" class="form-control"
                            placeholder="campground description" required aria-label="campground description"
                            rows="3"><%=campground.description %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                    </div>
                    <button class="btn btn-secondary">Update Campground</button>
                </form>
                <div class="mt-3">
                    <a href="/campgrounds/<%= campground._id%>" class="text-black text-decoration-none mt-4">Back To
                        Campground</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/validateForms.js"></script>
